th, td{
    text-align: center;
    vertical-align: middle;
    box-shadow: none !important;
}

html {
    font-size: 0.75rem;
}

.navbar-toggler {
    border-color: transparent; /* Opcional: para eliminar el borde */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" d="M7 11l16 16M7 27L23 11" /%3E%3C/svg%3E');
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
}

.navbar-toggler:focus{
    box-shadow: none;
}

.letra_img{
    font-size: 12px;
}

.plot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plot {
    flex: 1 1 50%;
    max-width: 50%;
}
.plot img {
    width: 100%;
    height: auto;
}
.plot-title {
    text-align: center;
    margin-top: 10px;
}

.figure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.figure {
    flex: 1 1 55%;
    max-width: 40%;
}
.figure img {
    width: 100%;
    height: auto;
}
.figure-title {
    text-align: center;
    margin-top: 10px;
}

.hidden_pc{
    display: none;
}

.hidden_phone{
    display: block;
}

.padding_form {
    padding-right: 3rem;
    padding-left: 3rem;
}

@media (max-width: 724px) {
    .home_title {
        font-size: 16px;
    }
    .home_title_div {
        text-align: center;
        padding: 0px 10px;
    }
    .home_subtitle {
        font-size: 12px;
        padding: 0px 10px !important;
    }
    .letra_img{
        font-size: 8px;
    }
    .plot {
        flex: 1 1 70%;
        max-width: 80%;
    }
    .hidden_pc{
        display: block;
    }
    .hidden_phone{
        display: none;
    }
    .padding_form {
        padding-right: 0rem;
        padding-left: 0rem;
    }
    .padding_form .row{
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .figure {
        flex: 1 1 55%;
        max-width: 80%;
    }
}

@media (min-width: 1023px) {
    html {
        font-size: 1rem;
    }
}

.graph-container {
    margin-top: 20px;
  }

  .path {
    animation: draw 3s ease-in-out infinite;
  }

  .dot {
    animation: dotMove 3s ease-in-out infinite;
  }

  @keyframes draw {
    0% {
      stroke-dasharray: 0, 400;
    }
    100% {
      stroke-dasharray: 400, 0;
    }
  }

  @keyframes dotMove {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(50px);
    }
    50% {
      transform: translateX(100px);
    }
    75% {
      transform: translateX(150px);
    }
    100% {
      transform: translateX(200px);
    }
  }

  .textLoading {
    font-size: 18px;
    color: #007bff;
  }

  #contenedor-graficos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.grafico {
    flex: 1 1 calc(33.33% - 40px); /* Tres gráficos por fila */
    max-width: calc(33.33% - 40px);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grafico:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .grafico {
        flex: 1 1 100%; /* Gráficos apilados en pantallas pequeñas */
        max-width: 100%;
    }
}