{% extends './base.html' %} {% block title %} Formulario {% endblock %} 
{% block body %}
<div class="row gap-x-0 padding_form">
  <h3 class="py-3">Datos de la función a optimizar</h3>
  <form id="formularioCD" class="row g-3">
    <div class="col-md-4">
      <label for="inputState" class="form-label">Maximizar o Minimizar?</label>
      <select id="inputState" class="form-select">
        <option selected value="maximizar">Maximizar</option>
        <option value="minimizar">Minimizar</option>
      </select>
    </div>
    <div class="col-md-5">
      <label for="inputDimension" class="form-label">Cantidad de variables</label>
      <select id="inputDimension" class="form-select" onchange="cantidadExponente('inputDimension')"></select>
    </div>
    <div class="col-md-3">
      <label for="inputTecnologia" class="form-label">Tecnología</label>
      <input type="text" class="form-control" id="inputTecnologia" onkeypress="return soloNumeros(event);"
        onpaste="return false" oncut="return false" oncopy="return false" />
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="RestriccionCheck"
          onchange="cantidadExponente('inputDimension')" />
        <label class="form-check-label" for="RestriccionCheck">
          Función con restricción presupuestal
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <h4 class="py-3">Lista de exponentes</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Exponente</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody id="tablaExponentes"></tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12" id="unidadesCosto">
      <h4 class="py-3">Lista de unidades de costo</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Variable correspondiente</th>
              <th>Valor de costo</th>
            </tr>
          </thead>
          <tbody id="tablaUnidadesCosto"></tbody>
        </table>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-info btn-opacity-75 text-white font-weight-bold"
        id="formulario-optimizacion">
        Optimizar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="modalOptimizar" aria-labelledby="modalOptimizarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" style="max-width: 50rem;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalOptimizarLabel">Función a optimizar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1>Body</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" id="confirmarOptimizacion" class="btn btn-info btn-opacity-75 text-white font-weight-bold">
                Confirmar optimización
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <p id="mensajeError" class="mt-5" style="color:red; display:none;">
    Por favor, completa todos los campos requeridos. Estos campos no pueden estar vacios ni nulos.
  </p>
  <!-- Modal RESULTADO-->
  <div class="modal fade p-0" id="modalOptimizacionResult" aria-labelledby="modalOptimizacionResultLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalOptimizacionResultLabel">Resultados de optimización</h5>
          <button id="modalOptimizacionResultClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Body</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/formulario.js') }}"></script>

{% endblock %}