{% extends './base.html' %} {% block title %} Teoría {% endblock %} {%
block body %}
<div class="px-3">
  <h1>Funciones de tipo Cobb-Douglas</h1>
  <span class="my-10">
    Una función de tipo Cobb-Douglas (CD) es una expresión matemática multivariada ampliamente utilizada en economía
    para modelar fenómenos como la utilidad de los consumidores o la producción de bienes y servicios. En la teoría del
    consumo, esta función representa curvas de indiferencia, las cuales son conjuntos de combinaciones de bienes que
    proporcionan el mismo nivel de satisfacción al consumidor, mientras que en la teoría de la producción modela curvas
    isocuantas, que muestran las combinaciones de factores productivos capaces de generar un nivel fijo de producción
    <a href="referencias#ref9" target="_blank">[9]</a>. Estas aplicaciones económicas son posibles debido a que las
    funciones CD cumplen con propiedades clave, tales
    como la convexidad, el decrecimiento, la continuidad, entre otras. Matemáticamente, una función CD
    <a href="referencias#ref5" target="_blank">[5]</a> se define como:
  </span>
  <p>
    \begin{equation*}
    f(x) = f(x_{1}, ..., x_{n}) = A \prod_{i=1}^{n} x_{i}^{\alpha_{i}}
    \end{equation*}
  </p>
  <span>
    donde \( x = (x_1, \dots, x_n) \) es un vector de \(n\) variables independientes, \( A > 0 \) representa un
    parámetro tecnológico que captura los efectos de factores externos o mejoras tecnológicas, y \( \alpha_i \) son
    exponentes que indican la contribución relativa de cada variable \(x_i\). El valor de \( f(x) \) representa:
  </span>
  <ul class="my-3">
    <li>
      cantidad producida, cuando \(x_{i}\) representa las unidades utilizadas del \(i\)-ésimo insumo. En producción, un
      insumo es un recurso utilizado en el proceso de fabricación de bienes o servicios, como materiales, trabajo,
      capital, entre otros <a href="referencias#ref8" target="_blank">[8]</a>.
    </li>
    <li>
      nivel de utilidad, cuando \(x_{i}\) indica el consumo del \(i\)-ésimo bien. En economía, el nivel de utilidad se
      refiere al grado de satisfacción o bienestar que un consumidor obtiene al consumir ciertos bienes
      <a href="referencias#ref7" target="_blank">[7]</a> y un bien es un producto consumible o intercambiable en el
      mercado, como alimentos,
      ropa, tecnología, entre otros <a href="referencias#ref3" target="_blank">[3]</a>.
    </li>
    <li>
      costos de producción, cuando \(x_{i}\) corresponde al precio del \(i\)-ésimo insumo. El costo de producción
      representa el gasto total para producir una cantidad de bienes o servicios <a href="referencias#ref3"
        target="_blank">[3]</a>.
    </li>
    <li>
      gasto, cuando \(x_{i} \) representa el precio del i-ésimo bien consumido.
    </li>
  </ul>
  <div class="plot-container">
    <div class="plot">
      <img src="data:image/png;base64,{{ plot_image }}" alt="Gráfico de Cobb-Douglas">
      <div class="plot-title">
        <p class="letra_img">
          Figura 1: Gráficos de la función Cobb-Douglas \(f(x_1, x_2, x_3) = x_1^{0.3} \cdot x_2^{0.4} \cdot x_3^{0.3}
          \). A la
          izquierda, con \( x_3 = 1 - x_1 - x_2 \); a la derecha, con \(x_3 = 2 \).
        </p>
      </div>
    </div>
  </div>

  <span><strong>Propiedades de una función de tipo CD:</strong></span>

  <ul class="my-3">
    <li>
      Dominio: \(\mathbb{R}^{n}_{+}\)
    </li>
    <li>
      Es homogénea de grado \(\sum_{i=1}^{n} \alpha_{i}\). Esto
      quiere decir que el rendimiento a escala <a href="referencias#ref4" target="_blank">[4]</a> de la función
      \(f(x)\) dependerá del comportamiento de los exponentes de cada variable \(x_{i}\), es decir,
      <ul>
        <li> Si \( \sum_{i=1}^{n} \alpha_{i} = 1 \), la función tiene rendimientos constantes a escala, lo que implica
          que un aumento proporcional de los \(x_i\), \( \forall i = 1, \dots, n\), genera un aumento proporcional en
          \(f(x)\).</li>
        <li> Si \( \sum_{i=1}^{n} \alpha_{i} > 1 \), la función tiene rendimientos crecientes a escala, lo que implica
          que un aumento proporcional de los \(x_i\), \( \forall i = 1, \dots, n\), genera un incremento mayor en
          \(f(x)\). </li>
        <li> Si \( \sum_{i=1}^{n} \alpha_{i} < 1 \), la función tiene rendimientos decrecientes a escala, lo que implica
            que un aumento proporcional de los \(x_i\), \( \forall i=1, \dots, n\), genera un incremento menor en
            \(f(x)\). </li>
      </ul>
      <!-- <p class="hidden_pc">
        Es homogénea de grado \(\sum_{i=1}^{n} \alpha_{i}\). En efecto,
        \[
        f(\lambda x_{1}, ..., \lambda x_{n})
        = A \prod_{i=1}^{n} (\lambda x_{i})^{\alpha_{i}}
        \]
        \[
        f(\lambda x_{1}, ..., \lambda x_{n})
        = A \lambda^{\alpha_{1}+...+\alpha_{n}} \prod_{i=1}^{n} x_{i}^{\alpha_{i}}
        \]
        \[
        f(\lambda x_{1}, ..., \lambda x_{n})
        = \lambda^{\sum_{i=1}^{n} \alpha_{i}} \biggl( A\prod_{i=1}^{n} x_{i}^{\alpha_{i}} \biggr)
        \]
        \[
        f(\lambda x_{1}, ..., \lambda x_{n})
        = \lambda^{\sum_{i=1}^{n} \alpha_{i}} f(x)
        \]
      </p>
      <p class="hidden_phone">
        Es homogénea de grado \(\sum_{i=1}^{n} \alpha_{i}\). En efecto,

        \[
        f(\lambda x_{1}, ..., \lambda x_{n})
        = A \prod_{i=1}^{n} (\lambda x_{i})^{\alpha_{i}}
        = A \lambda^{\alpha_{1}+...+\alpha_{n}} \prod_{i=1}^{n} x_{i}^{\alpha_{i}}
        = \lambda^{\sum_{i=1}^{n} \alpha_{i}} \biggl( A\prod_{i=1}^{n} x_{i}^{\alpha_{i}} \biggr)
        = \lambda^{\sum_{i=1}^{n} \alpha_{i}} f(x)
        \]
      </p> -->
    </li>
    <!-- <li>
      <p class="hidden_pc">
        Su comportamiento marginal se deduce de sus derivadas parciales.
        \[
        \frac{\partial f}{\partial x_{i}}
        = \frac{\alpha_{i}Ax_{1}^{\alpha_{1}}\cdots x_{i}^{\alpha_{i}} \cdots x_{n}^{\alpha_{n}}}{x_{i}}
        = \alpha_{i} \frac{f(x)}{x_{i}}
        \]
        \[
        \frac{\partial^{2} f}{\partial x_{i}^{2}}
        = \alpha_{i} (\alpha_{i} - 1) \frac{f(x)}{x_{i}^{2}}
        \]
        \[ \cdots \]
        \[
        \frac{\partial^{k} f}{\partial x_{i}^{k}}
        = \frac{f(x)}{x_{i}^{k}} \prod_{j = 1}^{k}(\alpha_{i} - j + 1)
        \]
      </p>
      <p class="hidden_phone">
        Su comportamiento marginal se deduce de sus derivadas parciales.
        \[
        \frac{\partial f}{\partial x_{i}}
        = A x_{1}^{\alpha_{1}} \cdots \alpha_{i}x_{i}^{\alpha_{i} - 1} \cdots x_{n}^{\alpha_{n}}
        = \frac{\alpha_{i}Ax_{1}^{\alpha_{1}}\cdots x_{i}^{\alpha_{i}} \cdots x_{n}^{\alpha_{n}}}{x_{i}}
        = \alpha_{i} \frac{f(x)}{x_{i}}
        \]
        \[
        \frac{\partial^{2} f}{\partial x_{i}^{2}}
        = A x_{1}^{\alpha_{1}} \cdots \alpha_{i}(\alpha_{i} - 1) x_{i}^{\alpha_{i} - 2} \cdots x_{n}^{\alpha_{n}}
        = \frac{\alpha_{i}(\alpha_{i} - 1) A x_{1}^{\alpha_{1}} \cdots x_{i}^{\alpha_{i}} \cdots
        x_{n}^{\alpha_{n}}}{x_{i}^{2}}
        = \alpha_{i} (\alpha_{i} - 1) \frac{f(x)}{x_{i}^{2}}
        \]
        \[ \cdots \]
        \[
        \frac{\partial^{k} f}{\partial x_{i}^{k}}
        = \frac{\alpha_{i}(\alpha_{i} - 1) \cdots (\alpha_{i} - (k - 1)) A x_{1}^{\alpha_{1}} \cdots x_{i}^{\alpha_{i}}
        \cdots x_{n}^{\alpha_{n}}}{x_{i}^{k}}
        = \frac{f(x)}{x_{i}^{k}} \prod_{j = 0}^{k - 1}(\alpha_{i} - j)
        = \frac{f(x)}{x_{i}^{k}} \prod_{j = 1}^{k}(\alpha_{i} - j + 1)
        \]
      </p>
    </li> -->
    <li>
      Las derivadas parciales en las funciones CD no solo representan el comportamiento marginal, sino que también están
      estrechamente relacionadas con la elasticidad de los factores, una propiedad distintiva de este tipo de funciones.
      En términos económicos, el comportamiento marginal describe la tasa de cambio de \(f(x)\) con respecto a \(x_i \
      (\forall i = 1, \dots, n)\), manteniendo constantes las demás variables. Por su parte, la elasticidad mide el
      cambio porcentual de \(f(x)\) debido a un cambio porcentual en una de sus variables independientes \(x_i \
      (\forall
      i = 1, \dots, n)\) <a href="referencias#ref3" target="_blank">[3]</a>. La elasticidad de \(f(x)\) respecto a la
      \(i\)-ésima variable es:
      <p class="hidden_phone">
        <!-- Los exponentes de cada variable representan la elasticidad de la función respectivamente. En efecto, la
        aproximación de la elasticidad de una función de tipo CD con respecto a la i-ésima variable es: -->
        \[E_{f_{x_{i}}}
        <!-- = \frac{\triangle \% f}{\triangle \% x_{i}} -->
        = \frac{\frac{\triangle f}{f}}{\frac{\triangle x_{i}}{x_{i}}}
        = \frac{\triangle f}{\triangle x_{i}} \frac{x_{i}}{f} \approx \frac{\partial f}{\partial x_{i}} \frac{x_{i}}{f}
        = \alpha_{i} \frac{f}{x_{i}} \frac{x_{i}}{f}
        = \alpha_{i}
        \]
      </p>
      <p class="hidden_pc">
        <!-- Los exponentes de cada variable representan la elasticidad de la función respectivamente. En efecto, la
        aproximación de la elasticidad de una función de tipo CD con respecto a la i-ésima variable es: -->
        <!-- \[E_{f_{x_{i}}}
        = \frac{\triangle \% f}{\triangle \% x_{i}}
        \] -->
        \[E_{f_{x_{i}}}
        = \frac{\frac{\triangle f}{f}}{\frac{\triangle x_{i}}{x_{i}}}
        \]
        \[E_{f_{x_{i}}}
        = \alpha_{i} \frac{f}{x_{i}} \frac{x_{i}}{f}
        = \alpha_{i}
        \]
      </p>
      En las funciones CD, la elasticidad de la producción respecto al insumo \( x_i \) es igual al exponente \(
      \alpha_i \). Esto significa que la sensibilidad de \(f(x)\) a los cambios en \( x_i \) está determinada por \(
      \alpha_i \).
    </li>
  </ul>
  <div class="figure-container">
    <div class="figure">
      <img src="data:image/png;base64,{{ plot_image_derv }}" alt="Curvas de nivel y derivadas parciales">
      <div class="figure-title">
        <p class="letra_img">Figura 2: Curvas de nivel y derivadas parciales de la función Cobb-Douglas</p>
      </div>
    </div>
  </div>

  <span><strong>Optimización Estática:</strong></span>

  <p>
    La optimización estática es el proceso mediante el cual una empresa o individuo identifica cómo maximizar o
    minimizar una función objetivo, sujeta a ciertas condiciones. Este tipo de optimización tiene aplicaciones directas
    en la toma de decisiones estratégicas, como maximizar la producción con recursos limitados o minimizar los costos
    bajo restricciones específicas.

    Matemáticamente, el objetivo es determinar los puntos donde una función \(\Phi\), definida en un subconjunto \(S\)
    de
    \(\mathbb{R}^{n}\), alcanza sus valores óptimos (mínimos o máximos). Este análisis se divide en dos categorías:
    optimización sin restricciones y optimización con restricciones. Ambos enfoques son esenciales para modelar y
    entender cómo los agentes económicos toman decisiones bajo diferentes escenarios.
  </p>

  <ul>
    <li>
      La optimización sin restricciones aborda problemas en los cuales se busca maximizar o minimizar una función
      \(\Phi\)
      en todo su dominio. Estos problemas son esenciales en contextos donde no existen limitaciones explícitas en las
      decisiones a tomar.
      Considere una función \(\Phi\) definida en un subconjunto S de \(\mathbb{R}^{n}\), con \(n \in \mathbb{N}\), la
      optimización sin restricciones implica resolver problemas de la forma:

      \[ min(max)_{x \in S} \ \Phi (x) \]
      
      Donde el punto extremo de ocurrencia es un punto interior de S <a href="referencias#ref2" target="_blank">[2]</a>.

      En términos económicos, este tipo de optimización se interpreta como un escenario idealizado en el que una empresa
      o un agente económico tiene total libertad para ajustar los factores de producción o consumo, con el objetivo de
      maximizar su utilidad o producción. Aunque en la práctica estos escenarios son poco frecuentes debido a las
      restricciones del mercado, la optimización sin restricciones constituye una base teórica esencial para entender
      los problemas de optimización en condiciones más realistas, como aquellos con restricciones.
      <br>
      <br>
    </li>
    <li>
      La optimización con restricciones se presenta cuando las decisiones están limitadas por factores externos, como un
      presupuesto, nivel de tecnología o disponibilidad de insumos. Estas restricciones son fundamentales para modelar
      situaciones económicas reales.

      Sea \(\Phi\) una función a valor real definida en un subconjunto \(S\) de \(\mathbb{R}^{n}\) con \(n \in \mathbb{N}\). La
      optimización con restricciones <a href="referencias#ref2" target="_blank">[2]</a> está relacionada con el problema de optimizar \(\Phi\) con \(m\)
      restricciones de igualdad; por ejemplo, \(g_{1} = 0, \ldots, g_{m} = 0\). Siendo \(g = (g_{1}, g_{2}, \ldots,
      g_{m})'\) y \(\Gamma = \{x : x \in S, g(x) = 0\}\), el problema se puede escribir como:

      \[
      \text{min(max)}_{x \in S} \ \ \ \ \ \ \Phi(x)
      \]
      \[
      \ \ \ \ \ \ \ \ \ sujeto \ a \ \ \ \ \ \ \ g(x) = 0
      \]
      Para garantizar la existencia de un mínimo o máximo local en este contexto, es necesario cumplir con ciertas
      condiciones requeridas. Estas condiciones aseguran que, bajo restricciones de igualdad, como en el caso de una
      restricción presupuestaria, es posible identificar puntos que optimicen la función objetivo. De este modo, se
      proporciona una interpretación económica más clara sobre la asignación de recursos en un entorno restringido.
    </li>
  </ul>

  <!-- A TENER EN CUENTA DESCOMENTAR PERO LUEGO DE EVALUAR QUE COLOCAR -->
  <!-- <div class="col-md-12">
    <h4 class="py-3">A tener en cuenta</h4>
    <ul>
      <li>
        Para optimizar funciones CD, es esencial identificar primero los puntos críticos mediante la derivación
        de la función y la resolución de las ecuaciones del gradiente.
      </li>
      <li>
        Para una función CD que representa costos o gastos y no tiene restricciones adicionales, no hay un mínimo o
        máximo local, en el sentido de funciones no lineales. La optimización de funciones lineales suele depender de
        los límites impuestos por restricciones externas. En ausencia de restricciones, la función se comporta de manera
        predecible y lineal sin puntos críticos que analizar.
        <br> <br>
        Para optimizar la función, se necesita encontrar los puntos críticos con respecto a cada variable \(x_{i} \)
        para obtener el gradiente. Obteniendo que:

        \[
        \frac{\partial f}{\partial x_{i}}
        = \alpha_{i}
        \]

        Ahora se iguala el gradiente a cero y se resuelve las ecuaciones para encontrar los puntos críticos. Sin
        embargo, en el caso de funciones lineales como las de costos o gasto, el gradiente no se iguala a cero, ya que
        la función es lineal y no tiene puntos críticos.
        <br> <br>
        Para minimización de una función lineal de costos(gastos), el costo(gasto) total puede reducirse al mínimo
        cuando
        se usan las cantidades mínimas de insumos(bienes) que satisfacen cualquier restricción del problema. En ausencia
        de restricciones, el costo(gasto) sigue siendo una función lineal sin un mínimo local, ya que no hay puntos
        críticos.
        <br> <br>
        Para maximización de una función lineal de gasto(costo), el gasto(costo) puede aumentar indefinidamente a medida
        que aumentan las cantidades de los bienes(insumos), dado que la función es lineal.


      </li>
      <li>
        Analizar la Hessiana de la función es útil, ya que proporciona información crucial sobre la curvatura de la
        función en esos puntos críticos. Este análisis permite determinar la naturaleza de la Hessiana, es decir, si es
        definida positiva, definida negativa, semidefinida positiva o semidefinida negativa.
      </li>
      <li>
        Teniendo definida la Hessiana se puede evaluar si la función es convexa o cóncava en la región de interés y,
        esta información facilita una mejor optimización y agiliza el proceso de encontrar el óptimo.
      </li>
    </ul>
  </div> -->

  <div class="col-md-12">
    <h4 class="py-3">Lista de funciones de tipo Cobb-Douglas</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cantidad de variables</th>
            <th>Función Cobb Douglas</th>
            <th>Función de costos</th>
            <th>Optimización sin restricciones</th>
            <th>Optimización con restricción presupuestal</th>
          </tr>
        </thead>
        <tbody id="optimizacionCobbDouglas">
          {% for exp in exponentes %}
          <tr>
            <td>{{exp}}</td>
            <td>
              <p>
                \begin{equation*}
                f(x) = A
                {% for index in exponentes %}
                {% if index <= exp %} x_{{index}}^{\alpha_{{index}}} {% endif %} {% endfor %} \end{equation*} </p>
            </td>
            <td>
              \[ c(x) =
              {% for index in exponentes %}
              {% if index < exp %} w_{{index}}x_{{index}} + {% endif %} {% if index==exp %} w_{{index}}x_{{index}}
                {%endif %} {% endfor %} \] </td>
            <td>
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-info btn-opacity-75" data-bs-toggle="modal"
                  data-bs-target="#modalOptimizacion" id="formulario-optimizacion"
                  onclick="optimizacion_exp_sin('{{exp}}')">
                  Optimizar
                </button>
              </div>
            </td>
            <td>
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-info btn-opacity-75" data-bs-toggle="modal"
                  data-bs-target="#modalOptimizacion" id="formulario-optimizacion_R"
                  onclick="optimizacion_exp_con('{{exp}}')">
                  Optimizar
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>n</td>
            <td>
              <p>
                \begin{equation*}
                f(x) = f(x_{1}, ..., x_{n}) = A \prod_{i=1}^{n} x_{i}^{\alpha_{i}}
                \end{equation*}
              </p>
            </td>
            <td>\[ c(x) = \sum_{i=1}^{n} w_{i}x_{i}\]</td>
            <td>
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-info btn-opacity-75" data-bs-toggle="modal"
                  data-bs-target="#modalOptimizacion" id="formulario-optimizacion" onclick="optimizacion_exp_sin('n')">
                  Optimizar
                </button>
              </div>
            </td>
            <td>
              <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-info btn-opacity-75" data-bs-toggle="modal"
                  data-bs-target="#modalOptimizacion" id="formulario-optimizacion_R"
                  onclick="optimizacion_exp_con('n')">
                  Optimizar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal de optimización -->
<div class="modal fade" id="modalOptimizacion" aria-labelledby="modalOptimizarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalOptimizarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="body_modalOptimizacion">
        <div id="text_func_opt_CD"></div>
        <div class="w-full d-flex justify-content-center" id="funcion_optimizar_CD"></div>
        <br>
        <div id="text_ini_deri_parc_CD"></div>
        <div class="hidden_phone">
          <div class="w-full d-flex justify-content-center" id="funcion_deri_parc_CD"></div>
        </div>
        <div class="hidden_pc">
          <div class="w-full d-flex align-items-center flex-column" id="funcion_deri_parc_CD_phone"></div>
        </div>
        <div class="w-full d-flex justify-content-center flex-column" id="funcion_deri_parc_CD_lambda"></div>
        <br>
        <!-- <p>Para \(A \neq 0 \) y cada \(\alpha_{i} \neq 0\).</p> -->
        <br>
        <div id="funcion_hessiana_CD"></div> <br>
        <div id="maximizar_CD"></div> <br>
        <div id="minimizar_CD"></div> <br>
        <div id="conclusion_CD"></div> <br>
        <!-- <div id="hessiana"></div> -->

      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

</div>

<script src="{{ url_for('static', filename='js/optimizacion_Sin_R.js') }}"></script>
<script src="{{ url_for('static', filename='js/optimizacion_Con_R.js') }}"></script>

{% endblock %}