{% extends './base.html' %} {% block title %} Referencias {% endblock %}
{%block body %}
<body>
    <h1>Referencias</h1>
    <ul class="referencias">
        <li>
            Cobb C.W. and P.H. Douglas. Are there laws of production? 
            <span class="titulo">The American Economic Review</span> 38, pages 1–41, 1948.
        </li>
        <li>
            Jan R. Magnus and Heinz Neudecker. 
            <span class="titulo">Matrix Differential Calculus with Applications in Statistics and Econometrics.</span> 
            John Wiley & Sons Ltd, third edition edition, 2007.
        </li>
        <li>
            Walter Nicholson. 
            <span class="titulo">Teoría Microeconómica. Principios Básicos y Ampliaciones.</span> 
            Cengage Learning Editores, S.A. de C.V., 9ª edición edition, 2008. Traducido de: 
            <span class="titulo">Microeconomic Theory: Basic Principles and Extensions</span>, 9th ed. URL: 
            <a href="http://latinoamerica.cengage.com" target="_blank">http://latinoamerica.cengage.com</a>.
        </li>
        <li>
            A. Pecha Castiblanco. 
            <span class="titulo">Optimización estática y dinámica en economía.</span> 
            Pro-Offset Editorial S.A, Universidad Nacional de Colombia, Facultad de Ciencias, Departamento de Matemáticas, 2005.
        </li>
        <li>
            A. Pecha Castiblanco. 
            <span class="titulo">Optimización estática y dinámica en economía.</span> 
            Pro-Offset Editorial S.A, Universidad Nacional de Colombia, Facultad de Ciencias, Departamento de Matemáticas, 2012.
        </li>
        <li>
            Robert S. Pindyck and Daniel L. Rubinfeld. 
            <span class="titulo">Microeconomía.</span> Pearson, México, 8ª edición edition, 2013.
        </li>
        <li>
            Robert S. Pindyck and Daniel L. Rubinfeld. 
            <span class="titulo">Microeconomía.</span> Pearson Educación, México, 8ª edición edition, 2017.
        </li>
        <li>
            Julián Pérez Porto and Ana Gardey. 
            <span class="titulo">Insumo - qué es, definición y concepto,</span> 2021. 
            Accedido: Noviembre, 2024. URL: 
            <a href="https://definicion.de/insumo/" target="_blank">https://definicion.de/insumo/</a>.
        </li>
        <li>
            Hal R. Varian. 
            <span class="titulo">Intermediate Microeconomics: A Modern Approach.</span> 
            W.W. Norton & Company, New York, 9 edition, 2014.
        </li>
    </ul>
</body>
</html>


{% endblock %}